/* Universal selector used to set border-box value.
This will make it easier to manage individual element sizing
and prevent common problems in layouts from occuring */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Background color set for entire document other then the head*/
body {
    background-color: #d9dcd6;
}

/*In header, used padding to increase size of entire element, set font-family 
fallbacks and set background and font colors*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Removed unnecessary use of selector grouping 
and simply styled h1 element*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*Inline element <span> used to get multiple font colors in single word*/
h1 .seo {
    color: #d9dcd6;
}

/*Nav element sized and floated right so it wraps around h1 element for a better visual design*/
nav {
    padding-top: 15px;
    margin-right: 20px; /*right margin set to clear area between nav element and edge of page*/
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
}
 /*Value 'none' used so prevent any visible bullet points in unordered list*/
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Set color for text of navigation links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* Header image styling*/
.header-image {
    height: 800px;
    width: 100%; /*This stretches container to edges of page*/
    margin-bottom: 25px; /*clears space below container*/
    background-image: url("../images/digital-marketing-meeting.jpg"); /*Sets image as background of container*/
    background-size: cover; 
    background-position: center; /*Centers image used as background*/
}

/*Sets font size for all p elements in html*/
p {
    font-size: 16px;
}

.content {
    width: 75%; 
    display: inline-block;
    margin-left: 20px;
}

/*Condsolidated styling for the 3 classes below 
to make code cleaner and get rid of unnecessary repetition*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #0072bb;
    color: #ffffff;
}

/*Consolidated styling for the 3 images below to make
code cleaner and get rid of unnecessary repetition*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*Removed unnecessary repetitive coding by consolidating
all h2 styling under single h2 selector*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Float image to left of container so text wraps around it*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Float image to right of container so text wraps around it*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Removed unnecessary use of class and styled 'aside' element instead.
Using 'aside' instead of generic div or section elements helps makes styling
easier to do for us and easier for future developers to understand*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #2589bd;
}

/*Consolidated styling for the 3 classes below to make
code cleaner and get rid of unnecessary repetition*/
.benefit-lead, .benefit-cost, .benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Removed unnecessary repetitive coding by consolidating all h3
styling under single h3 selector*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Consolidated styling for the 3 images below to make
code cleaner and get rid of unnecessary repetition*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align: center;
}

/* Removed unnecessary 'footer' selector after changing 
the h2 to a h4 to put heading attributes in sequential order */
h4 {
    font-size: 20px;
}
